<!--
  Programmer: Srujan Tripathi
  Most-Recent Date: 3/31/2016
  File Name: jumbotron.html
  Description: HTML Template for jumbotron.
-->

<!--
TODO:
  :)
-->

<!--BEGIN_TEMPLATE-->
<div class="jumbotron_wrapper">
  <div class="jumbotron">
    <div class="page_header_wrapper">
      <div class="page_header">
        <!--Page header text will be loaded in dynamically-->
        <h1></h1>
      </div>
    </div>
    <div class="page_content_wrapper">
      <!--Page content will be added dynamically-->
      <div class="page_content"></div>
    </div>
  </div>
</div>
<!--END_TEMPLATE-->
