<!--
  Programmer: Srujan Tripathi
  Most-Recent Date: 3/31/2016
  File Name: nav_bar.html
  Description: HTML Template for navigation bar.
-->

<!--
TODO:
  :)
-->

<!--BEGIN_TEMPLATE-->
<div class="nav_wrapper">
  <nav class="nav_bar">
    <div class="nav_bar_content_wrapper">
      <ul>
        <li><p><a href="home.html">Home</a></p></li>
        <li><p><a href="annoucements.html">Annoucements</a></p></li>
        <li><p><a href="calendar.html">Calendar</a></p></li>
        <li><p><a href="resources.html">Resources</a></p></li>
        <li><p><a href="blog.html">Blog</a></p></li>
        <li><p><a href="sponsors.html">Sponsors</a></p></li>
        <li>
          <p>Photo Gallery</p>
          <ul>
            <li><p><a href="alumni.html">Alumni</a></p></li>
            <li><p><a href="competition.html">Competition</a></p></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--END_TEMPLATE-->
